/* TODO Add site wide styles */
body {
    background-color: #f3f2ef;
    font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

div[contenteditable]:focus {
    outline: none;
}

li {
    list-style: none;
}

img {
    object-fit: cover;
}

.error-messages {
    display: flex;
    color: red;
    font-size: 14px;
    margin-bottom: 13px;
}

.coming-soon-container {
    height: 250px;
    width: 420px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coming-soon-title {
    font-size: 33px;
    line-height: 1.5;
}

.coming-soon-modal-exit {
    font-size: 18px;
    font-weight: 200;
    border-radius: 10px;
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: transparent;
    border: 1px solid rgb(212, 212, 212);
}

.coming-soon-modal-exit:hover {
    cursor: pointer;
    background-color: rgb(234, 234, 234);
}


.confirm-delete-container {
    height: 220px;
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -150%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.confirm-delete-title {
    font-size: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.confirm-delete-text {
    color: gray;
    text-align: center;
    /* margin-bottom: 40px; */
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 10px;
}

.confirm-border {
    display: flex;
    width: 100%;
    border-top: 1px solid rgb(230, 230, 230);
    margin-bottom: 15px;
    margin-top: 28px;
}

.confirm-buttons-container {
    display: flex;
    margin-left: 180px;
}

.confirm-delete-button {
    background-color: #0766c2;
    border: 1px solid #0766c2;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 30px;
    font-size: 15px;
}

.confirm-delete-button:hover {
    background-color: #015b90;
}

.confirm-cancel-button {
    background-color: #ffffff;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    padding: 8px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 30px;
    margin-right: 6px;
    font-size: 15px;
}

.confirm-cancel-button:hover {
    background-color: rgb(242, 242, 242);
}

