.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar-container {
  border-bottom: 1px solid rgb(230, 230, 230);
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  height: 27px;
  width: 100%;
  padding: 10px;
  background-color: white;
}

.linkedme-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0766c2;
  color: white;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  margin-left: 80px;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.logo-text {
  margin-bottom: 1.5px;

}

.home-dropdown-container {
  display: flex;
  flex-direction: row;
  margin-right: 80px;
}

.fa-network-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
}

.network-symbol {
  font-size: 18.7px;
}

.network-text {
  font-size: 13px;
  font-weight: 270;
  margin-top: 3px;
}

.fa-house-chimney-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-top: 4px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
}

.fa-house-chimney {
  font-size: 18.7px;
  color: gray;
}


.home-text {
  font-size: 13px;
  font-weight: 270;
  margin-top: 3px;
}


.nav-dropdown-button {
  margin-right: 80px;
}


/*! Nav Bar when signed out */
.nav-bar-container-new {
  display: flex;
  justify-content: space-between;
  /* justify-content: end; */
  align-items: center;
  height: 27px;
  width: 100%;
  padding: 10px;
  background-color: white;
}

.nav-linkedme-logo {
  margin-left: 155px;
  margin-bottom: 10px;
  cursor: pointer;
}

.nav-logo-section-1,
.nav-logo-section-2 {
  color: #0766c2;
  font-weight: 630;
  font-size: 35px;
}

.nav-logo-section-2 {
  background-color: #0766c2;
  color: white;
  border-radius: 3px;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3.1px;
  margin-left: 3px;
}


.nav-login-signup-container {
  margin-right: 80px;
  display: flex;
  align-items: center;
}

.nav-socials-container {
  display: flex;
  color: gray;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  margin-right: 30px;
  cursor: pointer;
}

.socials-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  margin-right: 20px;
  cursor: pointer;
}

.nav-socials-title {
  margin-top: 3px;
  text-align: center;
  font-size: 14px;
}

.fa-github {
  font-size: 20px;
  color: gray;
}

.fa-compass,
.fa-link,
.fa-user-group {
  font-size: 20px;
  color: gray;
}

.nav-border::after {
  display: flex;
  align-items: center;
  content: "";
  height: 35px;
  width: 1px;
  background-color: rgba(134, 134, 134, 0.6);
  margin-left: 10px;
  margin-right: 10px;
}

.nav-login {
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #0766c2;
  color: #0766c2;
  padding: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.nav-login:hover {
  background-color: #eff6fd;
}

.nav-signup {
  font-size: 18px;
  background-color: transparent;
  border: none;
  padding: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 25px;
  cursor: pointer;
  color: rgb(93, 93, 93);
}

.nav-signup:hover {
  background-color: rgb(237, 237, 237);
}


.fa-network-container,
.fa-house-chimney-container {
  /* color: rgb(0, 0, 0); */
  font-weight: bold;
}

.fa-network-container.clicked .network-text,
.fa-house-chimney-container.clicked .home-text {
  color: rgb(0, 0, 0);
  
}

.fa-network-container.clicked .network-symbol,
.fa-house-chimney-container.clicked .fa-house-chimney {
  color: black;
}

