
.create-comment-container {
  margin-bottom: 13px;
  margin-left: 14px;
  margin-right: 14px;
}

.create-comment-button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding-top: 10px;
    margin-top: 10px;
  }
  
  .create-comment-button-container:hover {
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
  }
  
  .comments-tab:hover {
    color: #0766c2;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .fa-comment-dots {
    font-size: 23px;
  }
  
  .create-commment-text {
    color: #888;
    margin-left: 7px;
  }
  
  .comment-form-container {
  }
  
  .comment-form {
  }
  
  .prof-pic-comment-creation-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 13px;
  }
  
  .comment-prof-pic {
    width: 43px;
    height: 43px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 8px;
  }
  
  .new-comment-textarea {
    font-family: system-ui, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    box-sizing: border-box;
    border-radius: 25px;
    resize: vertical;
    height: auto;
    border-color: rgb(196, 196, 196);
  }
  
  .new-comment-textarea::placeholder,
  .new-comment-textarea:-webkit-input-placeholder {
    text-align: center;
    padding: 60px;
  }