.feed-container {
  display: flex;
  justify-content: center;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(210, 210, 210);
  background-color: white;
}

.user-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px;
  /* display: flex; */
  width: 490px;
  

  /* background-color: white; */

}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.profile-image-info-container {
  display: flex;
  flex-direction: row;
}

.profile-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.post-info {}

.user-name {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.post-date {
  font-size: 14px;
  color: rgb(139, 139, 139);
}

.post-body {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.post-image {
  margin-top: 10px;
}

.post-image img {
  max-width: 100%;
}

.post-reactions {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}